.what-do {
  height: 1716px;
  width: 100%;
  background: #000000;
  border-radius: 0px;
}
.what-do .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.what-do .box .what-do__lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 158px;
}
.what-do .box .what-do__lead .wgat-do__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
}

.product__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.product__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 501px;
  color: #C0C0C0;
  margin-top: 10px;
}

.product-product-img--phone {
  background-image: url("../img/roduct-img.jpg");
}

.product-product-img--build {
  background-image: url("../img/build.png");
}

.product-product-img--forest {
  background-image: url("../img/forest.png");
}

.product-product-img--moose {
  background-image: url("../img/moose.png");
}