.header-container {
	display: flex;
	height: 50px;
	padding: $spacing-small;
	background-color: $color-header;
}

.header-counter {
	margin-left: auto;
	padding-right: $spacing-small;
	cursor: pointer;
	font-weight: 700;
}