$color-b: #1a191f;
$color-logo: white;
$color-deep-b: #000;
$color-hover: grey;
$color-color-o: #FF7F50;
$color-bg: #000;

$color-average-h: green;
$color-average-a: orange;
$color-average-l: red;