$bg_color: #f8f9fa;
$color-white: white;
$color-btn: #F0F8FF;
$color-black: #000000;
$color-scroll: red;


$spacing-small: 10px;
$spacing-middle: 15px;
$spacing-large: 30px;
$border-radius: 3px;
$color-header: #FAEBD7;

$gradient: linear-gradient(90deg, #aea4e3, #d3ffe8);

$shadow: 0 16px 24px 2px rgba(33, 37, 41, 02),
	0 6px 30px 5px rgba(33, 37, 41, 04),
	0 8px 10px -5px rgba(33, 37, 41, .1),